

.CardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    max-width: 20rem;
    
}

.Info {
    font-size: small;
    font-weight: 500;
}
.ItemImg {
    width: 50%;
    object-fit: contain;
}

.Option {
    background-color: #000000;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.ItemFooter {
    background-color:#ffffff;
}

