.NavBar {
    display: flex;
    background-color:black;
    align-items: baseline;
    justify-content: space-between;
    
}

.FerreteríaCarro26 {
    
    margin-left: 2rem;
    margin-top: 2rem;
    color: #DDDFDE ;
    
}

.Categories {
    margin-right: 2rem;
    color: #DDDFDE ;
    
}